<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="in.student.address" id="address" >
<constructor-arg value="888"></constructor-arg>
<constructor-arg value="bbsr"></constructor-arg>
<constructor-arg value="33333"></constructor-arg>
</bean>

<bean class="in.student.college_details" id="cdd" autowire="constructor">
<constructor-arg value="arajit" index="0"></constructor-arg>
<constructor-arg value="55" index="1"></constructor-arg>
</bean>
</beans>